/*-- scss:defaults --*/

@import 'https://fonts.bunny.net/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.bunny.net/css2?family=Fira+Mono&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family: 'Fira Mono', monospace;

$link-color: #1a3771;